<div class="d-flex" *ngIf="standings.length !== 0">
  <div class="nav-pills flex-column" [(activeId)]="activeTab" #nav="ngbNav" ngbNav orientation="vertical">
    <ng-container ngbNavItem="home">
      <button ngbNavLink>Home</button>
      <ng-template ngbNavContent>
        <app-league-table [table]="standingsHomeTable"></app-league-table>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="away">
      <button ngbNavLink>Away</button>
      <ng-template ngbNavContent>
        <app-league-table [table]="standingsAwayTable"></app-league-table>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem="total">
      <button ngbNavLink>Total</button>
      <ng-template ngbNavContent>
        <app-league-table [table]="standingsTotalTable"></app-league-table>
      </ng-template>
    </ng-container>
  </div>

  <div class="container-fluid ms-4" [ngbNavOutlet]="nav"></div>
</div>
