<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=".">
      <i class="far fa-futbol fa-fx fa-2xl"></i>
    </a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink=".">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container py-3">
  <router-outlet></router-outlet>
</div>
