<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink=".">
      <fa-icon [icon]="faFutbol" [fixedWidth]="true" size="2xl"></fa-icon>
    </a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink=".">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container py-3">
  <h2>Top 5 European League</h2>
  <div class="container">
    <ng-container *ngFor="let competition of competitions">
      <div class="card bg-light mb-2" role="button" *ngIf="topFiveEuropeanLeagueCodes.includes(competition.code)">
        <div class="card-body league">
          <div class="row">
            <div class="col-auto">
              <img [src]="competition.emblem" width="70" height="70" />
            </div>
            <div class="col">
              <h4 class="card-title">{{ competition.name }}</h4>
            </div>
            <div class="col-1 d-flex justify-content-center align-items-center">
              <span class="rounded-circle px-2 py-1 chevron">
                <fa-icon [icon]="faChevronRight" [fixedWidth]="true"></fa-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
